/* 文字コードを始めに記載 */
@charset "utf-8";

/* 始めから終わりまで(入れないとGoogleが自動でマージン等を指定してくる) */
/* (＊←オールセレクタ)は、すべての要素 */
/* ::before ::afterは疑似要素 */
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* ↑　線も含めボックスのサイズですよという意味。必ず記載 */
}

/* 行頭アイコンを非表示 */
ul,
ol {
  list-style: none;
}

/* inheritは標準 */
/* text-decoration: none;は下線等の装飾の有無(無し) */
a {
  color: inherit;
  text-decoration: none;
}

/* 本当に真っ黒にしたいところ以外は少し色を変更する(例#333) */
body {
  font-family: sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1;
  background-color: #fff;
  background-image: url('../img/back00.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
}

/* max-width　親要素の箱の範囲内のサイズを指定してあげる */
img {
  max-width: 100%;
}



/* ここからヘッダー */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  height: 10px;
  width: 100%;
  z-index: 10;
}

.header-inner {
  background-color: transparent;
  /* background-color: #eb7878; */
  position: relative;
  width: 100%;
  height: 10px;
  margin: 0 auto;
}

.header-site-menu {
  /* background-color: #b5fffb; */
  position: absolute;
  top: 0;
  right: 15px;
  display: none;
}
.site-menu {
  background-image: url(../img/note.png);
  background-size: cover;
  /* background-color: #fff; */
  margin-right: 90px;
  width: 100%;
  height: 250px;
}

.site-menu ul {
  /* background-color: #ffaaaa; */
  width: 50%;
  height: 180px;
  position: relative;
  top: 30px;
  left: 70px;
}

.site-menu ul li {
  /* background-color: #b7ff93; */
  width: 100%;
  height: 30px;
  font-size: 25px;
  color: #f3f3f3ff;
  text-shadow: 1px 5px 5px #000000;
  margin-bottom: 25px;
  text-align: center;
}

.site-menu ul li:hover {
  color: #4e4e4e;
}

.header-site-menu.active {
  display: block;
}


.header-site-menu.active ~.menu-button {
  background-image: url(../img/eraser.png);
  background-size: 85%;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  top: 20px;
  left: 1445px;
}
.menu-button {
  z-index: 10;
  width: 50px;
  height: 50px;
  background-image: url(../img/menu.png);
  background-size: 100%;
  background-color: transparent;
  border: none;
  position: relative;
  top: 15px;
  left: 1440px;
}
/* ここまでヘッダー */




/* ここからトップページ */
.first-view {
  height: 100vh;
  width: 100%;
  background-image: url(../img/top.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.page-title{
  position: absolute;
  font-size:3rem;
  color: #000000;
  top: 5%;
  left: 5%;
  text-align: center;
  border:1px solid #000000;
  padding:100px 20px;
}
/* ここまでトップページ */


/* ここからメイン */


#about {
  /* background-color: #9fc2ff; */
  height: 1400px;
  width: 1400px;
  margin: 0 auto;
  margin-top: 75px;
}

.about-inner {
  /* background-color: #72e8ff; */
  width: 95%;
  height: 40px;
  margin: 0 auto;
  margin-top: 30px;
}

.about-inner h1 {
  /* background-color: #ffcaca; */
  width: 15%;
  height: 40px;
  margin: 0 auto;
  text-align: center;
  font-size: 40px;
  border-bottom: solid 5px #ffa2a2;
}

.profile-box {
  background-image: url(../img/back01.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
  width: 80%;
  height: 500px;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 80px;
}

.profile {
  /* background-color: #d1ff6e; */
  height: 400px;
  width: 400px;
  margin: 50px 0 50px 50px;
  padding-top: 50px;
}

.profile img {
  width: 90%;
  border-radius:50%;
}

.profile2 {
  /* background-color: #ea5b5ba8; */
  width: 55%;
  height: 400px;
  margin: 50px 100px 0 0;
  border-radius: 50px;
}

.profile2 h2 {
  background-color: #daf8ff;
  font-size: 40px;
  width: 300px;
  height: 60px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 13px;
  text-align: center;
  border-radius: 50px 0;
}

.profile2 p {
  background-color: #f3f3f3c9;
  width: 600px;
  height: 280px;
  margin: 0 auto;
  font-size: 21px;
  line-height: 35px;
  padding: 20px 20px;
  border-radius: 50px;
}

.skill {
  /* background-color: #ecff72; */
  height: 730px;
  width: 95%;
  margin: 0 auto;
  margin-top: 70px;
}

.skill-inner {
  width: 80%;
  height: 650px;
  margin: 0 auto;
}

.skill-inner h2 {
  /* background-color: #ffbaba; */
  width: 15%;
  height: 34px;
  margin: 0 auto;
  text-align: center;
  font-size: 34px;
  border-bottom: solid 3px #bebebe;
}

.skill-inner p {
  background-image: url(../img/back05.jpg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 35px;
  width: 75%;
  height: 650px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 23px;
  margin-top: 20px;
  border-radius: 50px;
}

.works {
  /* background-color: #ffc3e4; */
  width: 1400px;
  height: 5200px;
  margin: 0 auto;
  margin-top: 30px;
}

.works-inner {
  /* background: #b9ff36; */
  width: 95%;
  height: 5200px;
  margin: 0 auto;
}

.works-inner h1 {
  /* background-color: #f92828; */
  width: 15%;
  height: 40px;
  margin: 0 auto;
  text-align: center;
  font-size: 40px;
  border-bottom: solid 5px #ffa2a2;
}

.web-site {
  /* background-color: #25ff5f; */
  width: 100%;
  height: 850px;
}

.web-site-inner {
  /* background-color: #43ffd6; */
  width: 95%;
  height: 850px;
  margin: 0 auto;
}

.web-site-inner h2 {
  /* background-color: #fff; */
  width: 18%;
  height: 82px;
  margin: 0 auto;
  text-align: center;
  font-size: 34px;
  padding-top: 48px;
}

.web-site-line {
  border-bottom: solid 3px #bebebe;
}

.web-site-photo {
  /* background-color: #343eff; */
  width: 90%;
  height: 85%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 550px 550px;
  justify-content: space-around;
  margin-top: 30px;
}

.web-site-1,.web-site-2 {
  background-image: url(../img/back03.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 90%;
  margin-top: 50px;
  border-radius: 30px;
}

.web-site-photo img {
  width: 100%;
  height: 40%;
  border-radius: 20px;
}


.web-site-photo h2 {
  background-color: #e1fbff;
  width: 70%;
  height: 90px;
  padding: 10px 0;
  line-height: 40px;
  margin-top: 20px;
  border-radius: 50%;
}

.web-site-photo p {
  /* background-color: #3b8fd4; */
  width: 90%;
  height: 212px;
  margin: 0 auto;
  padding: 10px;
  line-height: 40px;
  font-size: 23px;
  text-align: left;
  margin-top: 10px;
}

.web-site-photo img:hover {
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}


.banner {
  /* background-color: #a641ff; */
  width: 100%;
  height: 1350px;
  margin-top: 30px;
}

.banner-inner {
  /* background-color: #a2a2a2; */
  width: 95%;
  height: 1320px;
  margin: 0 auto;
}

.banner-line {
  border-bottom: solid 3px #bebebe;
}

.banner-inner h2 {
  /* background-color: #fff; */
  width: 20%;
  height: 82px;
  margin: 0 auto;
  text-align: center;
  font-size: 34px;
  padding-top: 48px;
}

.banner-inner-photo {
  /* background-color: #343eff; */
  width: 95%;
  height: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  column-gap: 30px;
  justify-content: space-around;
  margin-top: 30px;
}

.banner-inner-photo h2 {
  /* background-color: #ffc9c9; */
  width: 90%;
  height: 60px;
  padding: 12px 0;
  font-size: 36px;
  margin-top: 15px;
}

.banner-inner-photo p {
  background-color: #e1e1e1ae;
  border-radius: 30px;
  width: 95%;
  height: 150px;
  margin: 0 auto;
  padding: 12px 10px;
  margin-top: 5px;
  font-size: 18px;
  line-height: 27px;
}

.banner-inner-photo img {
  border-radius: 20px;
  width: 90%;
  height: 50%;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid #ddd;
}

.banner-inner-photo img:hover {
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}

.banner-inner-1,.banner-inner-2,.banner-inner-3,.banner-inner-4,.banner-inner-5,.banner-inner-6 {
  background-image: url(../img/back04.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 550px;
  margin-top: 30px;
  border-radius: 30px;
}

.logo {
  /* background-color: #ecff72; */
  width: 100%;
  height: 1350px;
  margin-top: 50px;
}

.logo-inner {
  /* background-color: #ff236c; */
  width: 95%;
  height: 1320px;
  margin: 0 auto;
}

.logo-inner h2 {
  /* background-color: #7fff62; */
  width: 12%;
  height: 82px;
  margin: 0 auto;
  text-align: center;
  font-size: 34px;
  padding-top: 48px;
}

.logo-line {
  border-bottom: solid 3px #bebebe;
}

.logo-inner-photo {
  /* background-color: #fff9b3; */
  width: 95%;
  height: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  column-gap: 30px;
  justify-content: space-around;
  margin-top: 30px;
}


.logo-inner-photo h2 {
  /* background-color: #ffc9c9; */
  width: 90%;
  height: 60px;
  padding: 12px 0;
  font-size: 36px;
  margin-top: 15px;
}

.logo-inner-photo p {
  background-color: #e1e1e1ae;
  border-radius: 30px;
  width: 95%;
  height: 150px;
  margin: 0 auto;
  padding: 12px 10px;
  margin-top: 5px;
  font-size: 18px;
  line-height: 27px;
}

.logo-inner-photo img {
  border-radius: 20px;
  width: 90%;
  height: 50%;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid #ddd;
}

.logo-inner-photo img:hover {
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}

.logo-inner-1,.logo-inner-2,.logo-inner-3,.logo-inner-4,.logo-inner-5,.logo-inner-6 {
  background-image: url(../img/back07.jpg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 550px;
  margin-top: 30px;
  border-radius: 30px;
}

.photo {
  /* background-color: #8432ff; */
  width: 95%;
  height: 1470px;
  margin: 0 auto;
  margin-top: 50px;
}

.photo-inner {
  /* background-color: #01ac5c; */
  width: 95%;
  height: 1450px;
  margin: 0 auto;
}

.photo-inner h2 {
  /* background-color: #ffb6b6; */
  width: 20%;
  height: 82px;
  margin: 0 auto;
  text-align: center;
  font-size: 34px;
  padding-top: 48px;
}

.photo-line {
  border-bottom: solid 3px #bebebe;
}

.photo-inner-photo {
  /* background-color: #81eaff; */
  width: 95%;
  height: 1300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 400px 400px;
  column-gap: 90px;
  justify-content: space-around;
  margin-top: 50px;
}

.photo-inner-photo img {
  margin: 0 auto;
  display: block;
  margin-top: 20px;
  border-radius: 20px;
  width: 75%;
  height: 50%;
}

.photo-inner-photo img:hover {
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}

.photo-inner-photo span {
  /* background-color: #fff; */
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  width: 90%;
  height: 70px;
  margin: 0 auto;
  padding-top: 15px;
  margin-top: 10px;
  display: block;
}

.photo-inner-1,.photo-inner-2,.photo-inner-3,.photo-inner-4 {
  background-image: url(../img/back02.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
  margin-top: 30px;
  border-radius: 30px;
}

.photo-inner-photo p {
  background-color: #e1e1e1ae;
  border-radius: 30px;
  width: 90%;
  height: 160px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px;
  font-size: 20px;
  line-height: 28px;
}


/* ここからお問い合わせ */
.contact {
  height: 600px;
  width: 900px;
  margin: 100px auto 75px;
}

.contact h1 {
    /* background-color: #f92828; */
    width: 25%;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    font-size: 40px;
    border-bottom: solid 5px #ffa2a2;  
}

.form-area {
  background-color: #ff7d7d;
  width: 95%;
  height: 530px;
  margin: 0 auto;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 50px;
  background-image: url(../img/back06.jpg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  border-radius: 30px;
}

.form-area dt {
  /* background-color: #c7f0ff; */
  width: 200px;
  height: 40px;
  font-size: 18px;
  padding: 11px 0;
  font-weight: bold;
}

.form-area dt .required::after {
  /* background-color: #fff; */
  content: '必須';
  font-size: 0.7em;
  color: #ff3e0e;
  margin-left: 15px;
}

.form-area dd {
  /* background-color: #c6ffa2; */
  width: calc(100% - 300px);
  padding: 20px 10px;
}

.input-text {
  /* background-color: #f0ff6a; */
  width: 350px;
  height: 40px;
  font-size: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

.input-text {
  width: 100%;
  max-width: 300px;
  height: 30px;
  padding-left: 3px;
  padding-right: 3px;
}

.message {
  /* background-color: #ffb039; */
  width: 450px;
  height: 200px;
  padding: 5px;
  line-height: 20px;
  font-size: 24px;
}


.submit-button {
  /* background-color: #9697f4; */
  background: none;
  border: none;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  width: 200px;
}

.submit-button img {
  width: 135px;
}

.submit-button:hover {
  transition: transform 0.3s ease-in-out;
  transform: scale(1.1);
}

.button-area {
  /* background-color: #fff; */
  width: 100%;
  height: 100px;
  padding-top: 30px;
}
/* ここまでお問い合わせ */


/* メインここまで */



/* ここからフッター */
.footer {
  background: #343434;
  color: #fff;
  height: 120px;
}

.footer p {
  text-align: center;
  padding: 50px;
}
/* ここまでフッター */
